*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --siteWidth: 1024px;
  --bodyBG: #fff;
  --bodyFontColor: #333;
  --bodyFontSize: 16px;
  --bodyFontFamily: sans-serif;
}
body {
  color: var(--bodyFontColor);
  background-color: var(--bodyBG);
  font-family: var(--bodyFontFamily);
  font-size: var(--bodyFontSize);
}
/* Elements
----------------------------------------------- */
/* Containers
----------------------------------------------- */
.container {
  margin: 0 auto 2rem;
  max-width: var(--siteWidth);
  padding: 0 1rem;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }
}
