@import '_reset';
@import '_variables';
@import '_mixins';


body {
  color: var(--bodyFontColor);
  background-color: var(--bodyBG);
  font-family: var(--bodyFontFamily);
}

/* Elements
----------------------------------------------- */

@import '_container';
