*:focus {
  outline: 0;
  background-color: yellow !important;
  color: #000 !important;
}

body {
  color: var(--bodyFontColor);
  background-color: var(--bodyBG);
  font-family: var(--bodyFontFamily);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--line-height);
}

footer,
header,
main {
  margin: 0 auto;
  max-width: var(--siteWidth);
  padding: 3rem 1rem;

  @media @small {
    padding: 1.5rem 1rem;
  };
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  h1 {
    margin: 0;
  }
}

nav {
  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    padding-left: 1rem;
  }
}

footer {
  font-size: 0.65rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--bodyFontColor);
  margin: 2rem 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 2rem;
}

p {
  margin: 0 0 1rem;
}

a,
a:visited {
  color: var(--linkFontColor);

  &:hover {
    color: var(--linkFontColorHover);
  }
}
