*:focus {
  outline: 0;
  background-color: yellow !important;
  color: #000 !important;
}

body {
  color: var(--bodyFontColor);
  background-color: var(--bodyBG);
  font-family: var(--bodyFontFamily);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--line-height);
}

footer,
header,
main {
  margin: 0 auto;
  max-width: var(--siteWidth);
  padding: var(--spacing-xl) var(--spacing-m);

  @media only screen and (max-width: 768px) {
    padding: var(--spacing-l) var(--spacing-m);
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

  & h1 {
    margin: 0;
  }
}

nav {
  & ul {
    list-style: none;
  }

  & li {
    display: inline-block;
    padding-left: var(--spacing-m);
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--bodyFontColor);
  margin: var(--spacing-xl) 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 var(--spacing-xl);
}

p {
  margin: 0 0 var(--spacing-m);
}

a,
a:visited {
  color: var(--linkFontColor);

  &:hover {
    color: var(--linkFontColorHover);
  }
}
