/* Padding helpers */

.pt-xs { padding-top: var(--spacing-xs); }
.pt-s { padding-top: var(--spacing-s); }
.pt-m { padding-top: var(--spacing-m); }
.pt-l { padding-top: var(--spacing-l); }
.pt-xl { padding-top: var(--spacing-xl); }

.pb-xs { padding-bottom: var(--spacing-xs); }
.pb-s { padding-bottom: var(--spacing-s); }
.pb-m { padding-bottom: var(--spacing-m); }
.pb-l { padding-bottom: var(--spacing-l); }
.pb-xl { padding-bottom: var(--spacing-xl); }

.pl-xs { padding-left: var(--spacing-xs); }
.pl-s { padding-left: var(--spacing-s); }
.pl-m { padding-left: var(--spacing-m); }
.pl-l { padding-left: var(--spacing-l); }
.pl-xl { padding-left: var(--spacing-xl); }

.pr-xs { padding-right: var(--spacing-xs); }
.pr-s { padding-right: var(--spacing-s); }
.pr-m { padding-right: var(--spacing-m); }
.pr-l { padding-right: var(--spacing-l); }
.pr-xl { padding-right: var(--spacing-xl); }


/* Margin helpers */

.mt-xs { margin-top: var(--spacing-xs); }
.mt-s { margin-top: var(--spacing-s); }
.mt-m { margin-top: var(--spacing-m); }
.mt-l { margin-top: var(--spacing-l); }
.mt-xl { margin-top: var(--spacing-xl); }

.mb-xs { margin-bottom: var(--spacing-xs); }
.mb-s { margin-bottom: var(--spacing-s); }
.mb-m { margin-bottom: var(--spacing-m); }
.mb-l { margin-bottom: var(--spacing-l); }
.mb-xl { margin-bottom: var(--spacing-xl); }

.ml-xs { margin-left: var(--spacing-xs); }
.ml-s { margin-left: var(--spacing-s); }
.ml-m { margin-left: var(--spacing-m); }
.ml-l { margin-left: var(--spacing-l); }
.ml-xl { margin-left: var(--spacing-xl); }

.mr-xs { margin-right: var(--spacing-xs); }
.mr-s { margin-right: var(--spacing-s); }
.mr-m { margin-right: var(--spacing-m); }
.mr-l { margin-right: var(--spacing-l); }
.mr-xl { margin-right: var(--spacing-xl); }

/* Font size helpers */

.fs-xs { font-size: var(--spacing-xs); }
.fs-s { font-size: var(--spacing-s); }
.fs-m { font-size: var(--spacing-m); }
.fs-l { font-size: var(--spacing-l); }
.fs-xl { font-size: var(--spacing-xl); }

/* Text helpers */

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
