:root {
  --bodyBG: #fff;
  --bodyFontColor: #232;
  --bodyFontSize: 16px;
  --bodyFontFamily: sans-serif;
  --bodyFontWeight: 400;
  --bp-small: 768px;
  --bp-medium: 1024px;
  --bp-large: 1280px;
  --line-height: 1.5;
  --linkFontColor: #284162;
  --linkFontColorHover: #0535d2;
  --siteWidth: 1024px;
}
